.product-details-container{
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
    z-index: 99;
}
.main-container{
    position: relative;
}
.abc{
    position: absolute;
    width: 100%;
    top: 294px;
    color: white;
    left: 0;
    padding: 0px 10px;
}
.dummy-data{
    display: flex;
    justify-content: space-between ;
}
.dummy-data-container1{
    width: 280px ;
    height: 350px;
    background: url("../Assests/Images/dummy1.PNG") no-repeat;
    background-size: 100% 100%;
}
.dummy-data-container2{
    width: 280px ;
    height: 350px;
    background: url("../Assests/Images/dummy2.PNG") no-repeat;
    background-size: 100% 100%;
}
.dummy-data-container3{
    width: 280px ;
    height: 350px;
    background: url("../Assests/Images/dummy3.PNG") no-repeat;
    background-size: 100% 100%;
}
.dummy-data-container4{
    width: 280px ;
    height: 350px;
    background: url("../Assests/Images/dummy4.PNG") no-repeat;
    background-size: 100% 100%;
}
.real-data{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    background-color: white;
}
.item-container{
    padding: 10px;
    width: 300px;
    height: 200px;
    background-color: white;
}
.image-of-item{
    padding:0px 5px;
    width: 200px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.music-no-life{
    background: url("../Assests/Images/head-amazon.PNG") no-repeat;
    background-size: 100% 100%;
    width: 55%;
    height: 250px;
    margin: auto;
}
.real-data-men{
    margin: 10px 0px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    background-color: white;
}
.men-heading{
    flex: 1;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right,rgb(4, 107, 93),rgb(0, 255, 200) );

}
.men-dummy{
    width:30%;
    cursor: pointer;
    user-select: none;
    color: black;
    background: url("../Assests/Images/men-dummy.PNG") no-repeat;
    background-size: 100% 100%;
}




@media screen and (max-width:800px) {
    .abc{
        top: 175px;
    }
    .music-no-life{
        width: 70%;
        height: 230px;
    }
    .dummy-data-container4{
        display: none;
    }
    .men-dummy{
        width: 50%;
    }
}
@media screen and (max-width:600px) {
    .dummy-data-container3{
        display: none;
    }
    .item-container{
        width:200px;
        height: 100px;
    }
    .image-of-item{
        width: 100px;
        height: 100%;
    }
}
@media screen and (max-width:500px) {
    .abc{
        top: 95px;
    }
    .music-no-life{
        width: 100%;
        height: 130px;
    }
    .dummy-data-container1{
        width: 200px ;
        height: 220px;
        background: url("../Assests/Images/dummy1.PNG") no-repeat;
        background-size: 100% 100%;
    }
    .dummy-data-container2{
        width: 200px ;
        height: 220px;
        background: url("../Assests/Images/dummy3.PNG") no-repeat;
        background-size: 100% 100%;
    }
    .men-heading{
        font-size: 1rem;
    }
    .real-data-men{
        height: 200px;
    }
    .men-dummy{
        width: 60%;
    }
}